body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	color: #95a5a6;
}

a {
	color: #007cdb;
}

ul, ol {
	margin: 0 0 1.5em;
}

ul li, ol li {
	margin: 0 0 0.5em;
}

ul {
	list-style: square;
}

.inner {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

.light {
	font-weight: 300;
	color: #777;
}

/*.competitor {
	text-align: center;
}
*/
header {
	padding: 50px 0;
	font-size: 1.2em;
}

.competitor {
	padding-bottom: 20px;
}

.competitor img {
	display: block;
	margin: 0 auto;
	border-radius: 100px;
	width: 200;
	height: 200px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.competitor .reputation {
	font-size: 6.5em;
	font-weight: bolder;
	padding: 10px 0;
}

.red {
	color: #e74c3c;
}

.green {
	color: #1abc9c;
}

.summary {
	padding-top: 30px;
}

.improvements {
	padding-bottom: 7px;
}

.change {
	display: inline-block;
	padding: 0 7px;
}

.value {
	padding-left: 2px;
	color: #3498db;
}

.badges {
	font-size: 0.8em;
	color: #7f8c8d;
	padding: 10px 0;
}

.badge {
	display: inline-block;
	padding: 0 3px;
}

.medal {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
}

.gold {
	background-color: #f1c40f;
}

.silver {
	background-color: #95a5a6;
}

.bronze {
	background-color: #b0531e;
}

.so {
	color: #f39c12;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	body {
		font-size: 14px;
		font-weight: 400;
	}

	article .title {
		font-size: 2em;
	}

	.meta {
		position: static;
		width: auto;
	}

	.inner {
		width: auto;
		margin: 0 20px;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.inner {
		width: auto;
		margin: 0 15px;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.inner {
		margin: 0 15px;
	}
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.inner {
		width: 1100px;
		margin: 0 auto;
	}
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.inner {
		width: 1400px;
		margin: 0 auto;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}